<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {{section.title}}
    {% endblock %}

    <!-- bootstrap css cdn link included -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- boxicons css link  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- fontawesome cdn link link -->
      <!-- fontawesome cdn link css -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    
</head>
<body>

    <div class="container-fluid">
        <div class="d-flex justify-content-end">
          <div class="col-md-1 mt-3">
            <button class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight">
              Menu
            </button>
            <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasRight"
              aria-labelledby="offcanvasRightLabel" style="width:300px;">
              <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Admin Dashboard</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="list-unstyled">
                  <li><a href="/dashboard" class="text-decoration-none text-white">Dashboard</a></li>
                  <li><a href="#" class="text-decoration-none text-white">Users</a></li>
                  <li><a href="/admin/addproduct" class="text-decoration-none text-white">Add Products</a></li>
                  <li><a href="/admin/product" class="text-decoration-none text-white">Products</a></li>
                  <li><a href="/admin/category" class="text-decoration-none text-white">Categories</a></li>
                  <li><a href="/admin/addcategory" class="text-decoration-none text-white">Add Categories</a></li>
                  <li><a href="/admin/usersorder" class="text-decoration-none text-white">Orders</a></li>
                </ul>
              </div>
              <div class="offcanvas-body">
                <ul class="list-unstyled">
                  <li><a href="#" class="text-decoration-none text-white">
                      <b>Name : </b> admin
                    </a></li>
                  <li><a href="#" class="text-decoration-none text-white">
                      <b>Email : </b> admin@gmail.com
                    </a></li>
                </ul>
                <div class="img">
                  <img
                    src="https://images.unsplash.com/photo-1552954277-0c45bd503b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                    alt="" class="img-fluid rounded-circle" width = "150">
                </div>
                <a href="/logout" class="btn btn-warning text-decoration-none mt-2">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    <div class="main">
        {% block main_content %}

        {% endblock %}
    </div>



    <!-- bootstrap js cdn link included -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>